body{
	background-color: #EEEEEE;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

table td{
	border: 1px solid black;
    border-collapse: collapse;
    width: 100px;
    height: 100px;
    text-align: center;
}

td img{
	width: 76px;
	height: 76px;
}

#cabecalho{
	text-align: center;
}

#cabecalho h3{
	margin: 0px;
	margin-top: 30px;
}

#cabecalho img{
	width: 25px;
	height: 25px;
}

#reiniciar{
	text-align: center;
	margin-top: 20px;
}

#placar{
	text-align: center;
}

#placar img{
	width: 50px;
	height: 50px;
}

#cabecalho h4{
	margin: 0px;
	margin-top: 30px;
}